.right-wrong {
    margin-top: 8rem !important;
    line-height: 2rem;
}

.answers {
    margin-top: 4rem !important;
    list-style-type: none;
    position: relative;
}

.btn {
    align-content: space-evenly;
}

.progress {
    margin-top: 14rem;
}

#timer {
    text-align: center;
    line-height: 100px;
    margin-right: 50px;
    font-size: 90px;
}